<!DOCTYPE html>
<html>
<head>
  <title>Soshi</title>
  <%= stylesheet_link_tag    "soshi/application", media: "all" %>
  <%= javascript_include_tag "soshi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
